header {
    background-color: lightgray;
    padding: 1% 0;
}

h3 {
    margin: unset !important;
}

footer {
    background-color: orange;
    padding: 1.5% 0;
}

table {
    margin: auto;
    width: 60% !important;
}