header {
    background-color: lightgray;
    padding: 1% 0;
}

h3 {
    margin: unset !important;
}

footer {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    z-index: 100;
    background-color: rgb(253, 145, 85);
    height: 50px;
}

footer span {
    position: fixed;
    bottom: 8px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

table {
    margin: auto;
    width: 60% !important;
}